/*SVG ICON SYSTEM*/
.icon {
    display: inline-flex;
    align-self: center;
}

.icon svg, .icon img {
    height: 1.15em;
    width: 1.15em;
    fill: currentColor;
}

.icon.baseline svg, .icon img {
    top: .125em;
    position: relative;
}